/* Basic tags */
body {
	margin: 0px;
	background-color: white;
	font-family: sans-serif;
	color: black;
}

#body {
	margin: 90px 210px 0px 10px;
	padding: 0px;
}

a img {
	border: 0px;
}

/* Anchors */
a {
	color: #0000ff;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
	margin: 0px;
	padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 0px;
	visibility: hidden;
}

.left {
	margin: 10px;
	padding: 0px;
	float: left;
}

.right {
	margin: 10px;
	padding: 0px;
	float: right;
}

.center {
	text-align: center;
}

/* Common page elements: Header, footer, etc. */

#hdr {
	position: absolute;
	z-index: 5;

	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 48px;

	text-align: left;

	background-color: #eeeeee;
	border-bottom: 1px solid #666666;
}

#hdrNav {
	position: absolute;
	top: 54px;
	left: 0px;

	margin-left: 10px;
	text-align: left;
	vertical-align: middle;
	font-size: small;
}

#hdrNav a {
	color: #000000;
}

#hdrTitle {
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	font-size: 24px;
	color: #999999;
}


/* Sidebar */

#sidebar {
	position: absolute;
	top: 90px;
	right: 0px;
	width: 190px;

	/*margin-right: 10px;*/
	padding-right: 10px;
	padding-bottom: 0px;
	border-left: 1px dashed #dddddd;
	background-color: #ffffff;
}

#sidebar p {
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar p.section {
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #999999;
	background-color: #eeeeee;
}

#sidebar div.rule {
	height: 1px;
	margin-bottom: 15px;
	background-color: #eeeeee;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}

#sidebar img.button {
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
}


/* Copyright footer */

#copyright {
	text-align: center;
	font-size: small;
	clear: both;

	margin-top: 10px;
	padding: 5px 0px 5px 0px;
	color: #999999;
}


/* News Sections */

p.newsitem {
	clear: left;
	margin-bottom: 20px;
}

p.newsitem img.newsicon {
	float: left;
	margin: 0px 10px 10px 10px;
	border: 0px;
}


/* Generic Classes */

div.code {
	background-color: #e0e0e0;
	color: #000000;
	white-space: pre;
	font-family: monospace;
}
