/*
  $Id$

  Stylesheet for LANdialler web site.
*/

BODY {
  font-family: verdana,arial,lucida,helvetica;
}

H1 {
  font-size: 13pt;
}

H2 {
  font-size: 11pt;
}

P {
  font-family: verdana,arial,lucida,helvetica;
}

.pagetitle {
  text-align: center;
  font-size: 18pt;
}

.toolbar {
  font-size: small;
}

/* End. */

