# $Id$
#
# Used by distutils to generate the MANIFEST file, which controls what
# makes it into the distribution.

include AUTHORS
include COPYING
include INSTALL
include README
include landialler.py
include landialler.conf
