# $Id$
#
# Used by distutils to generate the MANIFEST file, which controls what
# makes it into the distribution.

include AUTHORS
include COPYING
include INSTALL
include README
include landialler.conf
include landialler.glade
include landialler.py
include run_setup.py
include setup.py
