# $Id$
#
# Used by distutils to generate the MANIFEST file, which controlls
# what makes it into the distribution.

include AUTHORS
include COPYING
include INSTALL
include README
include landialler.conf
